{
  "eslintIntegration": true,  
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "proseWrap": "never",
  "prettier.tabWidth": 8, 
  "endOfLine": "auto" ,
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
